.movie-item {
  margin: 30px 0;
  text-align: center;
  text-decoration: none;
  display: block;
}

.movie-item img {
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .15);
  width: 100%;
  max-width: 415px;
  height: auto;
}

.movie-item h4 {
  font-size: 18px;
  color: rgb(200, 200, 200);
  margin: 10px 0 0 0;
}

.movie-item p {
  color: rgb(210, 210, 210);
  margin: 3px 0 0 0;
  font-size: 16px;
}

.movie-item span {
  color: rgb(210, 210, 210);
  font-size: 15px;
  display: block;
}

@media screen and (min-width: 768px) {
  .movie-item {
    margin: 80px 30px 0 30px;
  }
  .movie-item img {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, .15);
    width: 130px;
    height: 180px;
  }
  .movie-item h4 {
    font-size: 16px;
    max-width: 130px;
  }
  .movie-item p {
    font-size: 14px;
  }
  .movie-item span {
    font-size: 13px;
  }
}