.movie-list-searchBox {
  background-color: #fff;
  max-width: 700px;
  width: 100%;
  margin: 30px auto 0 auto;
  height: 65px;
  border-radius: 60px;
  box-shadow: 0 0 15px rgba(0, 0, 0, .07);
}

.movie-list-searchBox input {
  width: 100%;
  margin: 0 10px 0 20px;
  border: none;
  outline: none;
  font-size: 16px;
}

.movie-list-searchBox input::placeholder {
  color: #ccc;
  font-size: 18px;
}

.movie-list-searchBox i {
  color: #ccc;
  font-size: 25px;
  align-self: center;
  margin: 0 0 0 40px;
}